<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AttendController</servlet-name>
        <servlet-class>controller.attendant.AttendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetClassController</servlet-name>
        <servlet-class>controller.table.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseClassController</servlet-name>
        <servlet-class>controller.table.GetClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSlotController</servlet-name>
        <servlet-class>controller.attendant.ChangeSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDateController</servlet-name>
        <servlet-class>controller.attendant.ChangeDateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeController</servlet-name>
        <servlet-class>controller.attendant.ChangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.attendant.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>controller.student.AddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendController</servlet-name>
        <url-pattern>/attend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetClassController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseClassController</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSlotController</servlet-name>
        <url-pattern>/changeslot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDateController</servlet-name>
        <url-pattern>/changedate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeController</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
